<section class="relative w-full h-screen mx-auto">
    <div class="{{styles.paddingX}} absolute inset-0 top-[120px] max-w-7xl mx-auto flex flex-row items-start gap-5">
        <div class="flex flex-col justify-center items-center mt-5">
            <div class="w-5 h-5 rounded-full bg-primary"></div>
            <div class="w-1 sm:h-80 h-40 primary-gradient"></div>
        </div>
        <div>
            <h1 class="{{styles.heroHeadText}} text-white"> Hi, I'm <span class="text-primary">Dwayne</span></h1>
            <p class="{{styles.heroSubText}} mt-2 text-white-100">
                Experienced full stack developer <br class='sm:block hidden' /> creating dynamic web applications
            </p>
        </div>
        <canvas #canvas></canvas>
    </div>
    
</section>